:root {
    --before-header-bg-color: #f9f9f9;
    --before-header-box-shadow-color: red;
    --responsive-icon-hover-border-color: #999;
    --responsive-icon-hover-bg-color: #e0e0e0;
    --responsive-icon-color: #666;
}

    :root[data-theme="light"] {
        --primary-bg-color: #f8f9fc;
        --primary-text-color: black;
        --secondary-text-color: white;
        --nav-bg-color: #2e59d9;
        --box-shadow-color: rgb(0, 0, 0, 0.1);
        --border-color: #ccc;
        --link-default-color: black;
        --main-bg-color: #fff;
        --main-text-color: #fff;
        --page-header-color: #5a5c69;
        --page-title-color: black;
        --search-icon-bg-color: #4e73df;
        --search-input-bg-color: #ebeaea;
        --nav-item-hover-bg-color: #335edd;
        --nav-heading-color: #b8bbd1;
        --collapse-header-color: #868686;
        --collapse-item-color: #2e2e2e;
        --hamburger-icon-color: #333;
        --divider-color: #ddd;
        --main-header-color: black;
        --dashboard-icon-color: #858796;
        --border-left-primary-color: #4e73df;
        --border-left-success-color: #1cc88a;
        --border-left-info-color: #36b9cc;
        --border-left-warning-color: #f6c23e;
        --chart-placeholder-bg-color: #f1f1f1;
        --chart-placeholder-color: #777;
        --login-register-forgotpassword-bg-color: #2372c0;
        --form-control-border-color: #ddd;
        --btn-google-color: #db4437;
        --btn-facebook-color: #4267B2;
        --footer-color: #5a5c69;
        --scrollToTop-bg-color: #858796;
        --scrollToTop-color: #f8f9fc;
    }

    :root[data-theme="dark"] {
        --primary-bg-color: #121212;
        --primary-text-color: white;
        --secondary-text-color: white;
        --nav-bg-color: #010409;
        --box-shadow-color: rgba(255, 255, 255, 0.1);
        --border-color: #ccc;
        --link-default-color: white;
        --main-bg-color: #0d1117;
        --main-text-color: #fff;
        --page-header-color: #fff;
        --page-title-color: white;
        --search-icon-bg-color: #3b5998;
        --search-input-bg-color: #313131;
        --nav-item-hover-bg-color: #454545;
        --nav-heading-color: #a0a0a0;
        --collapse-header-color: #817e7e;
        --collapse-item-color: black;
        --hamburger-icon-color: #e0e0e0;
        --divider-color: #444;
        --main-header-color: white;
        --dashboard-icon-color: #a8a8a8;
        --border-left-primary-color: #3a8bdb;
        --border-left-success-color: #28a745;
        --border-left-info-color: #138496;
        --border-left-warning-color: #d39e00;
        --chart-placeholder-bg-color: #292929;
        --chart-placeholder-color: #888;
        --login-register-forgotpassword-bg-color: #232323;
        --form-control-border-color: #444;
        --btn-google-color: #ff6f61;
        --btn-facebook-color: #3b5998;
        --footer-color: #a8a8a8;
        --scrollToTop-bg-color: #a8a8a8;
        --scrollToTop-color: #232323;
    }

body {
    margin-top: 62px;
}

.layout-wrapper > * {
    padding: 0;
    border: none;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--link-default-color);
}

/* Header */
.before-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--before-header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 0px var(--before-header-box-shadow-color);
}

.responsive-icons {
    display: flex;
    gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

    .icon:hover {
        background-color: var(--responsive-icon-hover-bg-color);
        border-color: var(--responsive-icon-hover-border-color);
    }

    .icon i {
        font-size: 18px;
        color: var(--responsive-icon-color);
    }

.after-header {
    display: none;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--page-header-color);
    padding: 1rem 1rem;
    box-shadow: 5px 5px 10px var(--box-shadow-color);
}

    .page-header ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

.page-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.page-header .search-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.page-header .search-input {
    padding: 0.5rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: var(--search-input-bg-color);
    color: var(--page-header-color);
}

.page-header .search-icon {
    position: absolute;
    background-color: var(--search-icon-bg-color);
    color: var(--secondary-text-color);
    padding: 0.75rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.page-title {
    color: var(--page-title-color);
}

.site-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .site-user a {
        text-decoration: none;
        color: var(--page-header-color);
    }

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Nav */
nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

    nav ul {
        padding: 0;
    }

    nav li {
        margin-bottom: 1rem;
    }

        nav li a {
            color: var(--secondary-text-color);
        }

.navigation {
    word-wrap: normal;
}

.main-nav .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 73px;
    padding: 10px;
}

.main-nav .site-logo {
    font-size: 24px;
}

.main-nav .site-title {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.main-nav .nav-item {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .main-nav .nav-item:hover {
        background-color: var(--nav-item-hover-bg-color);
    }

.navbar-divider-first {
    margin-top: 0;
}

.navbar-heading {
    font-size: 11px;
    color: var(--nav-heading-color);
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
}

.collapse-header {
    font-size: 12px;
    padding: 5px 0px 0px 20px;
    margin-bottom: 0px;
    color: var(--collapse-header-color);
}

.collapse-item {
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: var(--collapse-item-color);
    padding: 5px 0px 5px 20px;
}

.toggle-area {
    margin-bottom: 5px;
}

.main-nav .nav-item .toggle-icon {
    cursor: pointer;
    margin-left: auto;
}

.hamburger-icon {
    display: none;
}

/* Theme Toggle Icon */
.theme-toggle {
    cursor: pointer;
    margin-top: 1px;
}

/* User-dropdown */
.user-info {
    position: relative;
}

.user-dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: var(--primary-bg-color);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
}

    .user-dropdown-menu.show {
        display: flex;
        flex-direction: column;
    }

.user-dropdown-item {
    padding: 5px;
    gap: 5px;
}

.dropdown-divider {
    border-top: 1px solid var(--divider-color);
}


/* Main */
.feature,
.aside-first,
.after-content,
.aside-second,
.after-main {
    display: none;
}

.before-main {
    padding: 10px;
    margin: 10px;
    padding-bottom: 0;
    background-color: var(--main-bg-color);
}

main {
    background-color: var(--main-bg-color);
    padding: 10px;
    margin: 10px;
}

    main section {
        display: flex;
        flex-wrap: wrap;
    }

.row {
    --bs-gutter-x: 0;
}

.main-header {
    margin-bottom: 1rem;
    color: var(--main-header-color);
}

/* Dashboard */
.main-header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-icon {
    color: var(--dashboard-icon-color);
}

.dashboard-cards {
    margin-top: 10px;
}

    .dashboard-cards .card {
        box-shadow: 0 4px 6px var(--box-shadow-color);
        border-radius: 10px;
    }

.dashboard-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card-title {
    font-size: 13px;
}

.border-left-primary {
    border-left: 4px solid var(--border-left-primary-color);
}

.border-left-success {
    border-left: 4px solid var(--border-left-success-color);
}

.border-left-info {
    border-left: 4px solid var(--border-left-info-color);
}

.border-left-warning {
    border-left: 4px solid var(--border-left-warning-color);
}


.card-body {
    position: relative;
}

.progress {
    height: 6px;
    width: 70px;
    margin-top: 0.5rem;
}

.progress-bar {
    width: 50%;
    height: 100%;
}

.charts-section .chart {
    padding: 15px;
}

.chart-placeholder {
    height: 200px;
    background-color: var(--chart-placeholder-bg-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--chart-placeholder-color);
}


/* Login and Register and Forgot Password*/
.login-body,
.register-body,
.forgotpassword-body {
    background-color: var(--login-register-forgotpassword-bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container,
.register-container,
.forgotpassword-container {
    background: var(--main-bg-color);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0px 4px 10px var(--box-shadow-color);
    max-width: 400px;
    width: 100%;
}

.pages-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--form-control-border-color);
    border-radius: 8px;
    font-size: 1rem;
}

.form-check,
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

    .form-check input {
        margin-right: 0.5rem;
    }

.rounded-button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.btn-google {
    background-color: var(--btn-google-color);
    color: var(--main-text-color);
    margin-bottom: 1rem;
}

.btn-facebook {
    background-color: var(--btn-facebook-color);
    color: var(--main-text-color);
    margin-bottom: 1rem;
}

.divider {
    border-top: 1px solid var(--divider-color);
    margin: 1rem 0;
}

/* Tables */
.database-table-title {
    margin-bottom: 1rem;
}

.tables-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.table-responsive {
    overflow-x: auto;
}



/* Sidebar */
.sidebar {
    display: none;
}


/* Footer */
.before-footer,
.after-footer {
    display: none;
}

footer {
    grid-area: footer;
    background-color: var(--primary-bg-color);
    color: var(--footer-color);
    padding: 1rem;
    text-align: center;
}

/* Scroll to Top Button */
#scrollToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    background: var(--scrollToTop-bg-color);
    color: var(--scrollToTop-color);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Design */
/* Desktop View */
@media (min-width: 1024px) {
    .page-header .search-input {
        max-width: 400px;
    }

    .page-header .search-icon {
        left: 394px;
    }

    .theme-toggle {
        margin-right: 20px;
    }

    .site-user {
        gap: 20px;
    }

    .toggle-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
    .page-header .search-input {
        max-width: 250px;
    }

    .page-header .search-icon {
        left: 250px;
    }

    .theme-toggle {
        margin-right: 10px;
    }

    .site-user {
        gap: 15px;
    }

    .toggle-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tables-container .table-responsive {
        overflow-x: scroll;
    }

    .tables-container .table {
        min-width: 800px;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        white-space: nowrap;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    .layout-wrapper {
        grid-template-columns: auto 5fr;
    }

    .page-header {
        position: relative;
    }

    .hamburger-icon {
        display: block;
        font-size: 30px;
        color: var(--hamburger-icon-color);
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: 2;
        cursor: pointer;
    }

    .page-header-content {
        margin-left: 2rem;
    }

    .page-header .search-input {
        max-width: 90px;
    }

    .page-header .search-icon {
        left: 90px;
    }

    .main-nav .nav-item .toggle-icon,
    .generate-report-button {
        display: none;
    }

    .theme-toggle {
        margin-right: 5px;
    }

    .site-user {
        gap: 5px;
    }

    .main-nav .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-nav .nav-list .nav-item a,
    .main-nav .nav-list .nav-item span {
        font-size: 0.85rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .toggle-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-nav .nav-item i {
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .main-nav .nav-item .collapse-item {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .site-title,
    .site-user .username {
        display: none;
    }

    .site-logo {
        position: absolute;
        left: 2rem;
    }

    .main-nav {
        position: fixed;
        top: 62px;
        left: -100px;
        width: 100px;
        height: 100vh;
        transition: left 0.3s ease;
    }

    body.main-nav-open .main-nav {
        left: 0;
    }

    body:not(.main-nav-open) .page-header,
    body:not(.main-nav-open) .before-main,
    body:not(.main-nav-open) .page-header .hamburger-icon,
    body:not(.main-nav-open) .content,
    body:not(.main-nav-open) .footer {
        width: 100%;
        margin-left: 0;
    }

    body.main-nav-open .page-header,
    body.main-nav-open .before-main,
    body.main-nav-open .content,
    body.main-nav-open .footer {
        margin-left: 100px;
        transition: margin-left 0.3s ease;
    }

    .tables-container .table-responsive {
        overflow-x: scroll;
    }

    .tables-container .table {
        min-width: 500px;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        white-space: nowrap;
    }

    .dashboard-cards {
        padding: 10px;
        gap: 10px;
    }
}
